.holder {
  border: black solid 5px;
  border-radius: 34px 34px 0 0;
  width: 600px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-child(1) {
  background-color: tomato;
  width: 300px;
  border-top-left-radius: 30px;
  height: 50px;
  order: -4;
}

.item:nth-child(2) {
  order: -1;
  background-color: steelblue;
  height: 50px;
  width: 200px;
}

.item:nth-child(3) {
  order: -2;
  background-color: blueviolet;
  height: 50px;
  width: 200px;
}

.item:nth-child(4) {
  background-color: forestgreen;
  height: 50px;
  width: 200px;
}

.item:nth-child(5) {
  background-color: orange;
  width: 300px;
  border-top-right-radius: inherit;
  height: 50px;
  order: -3;
}
